$maize: maize()
$rose: rose()
$periwinkle: periwinkle()
$teal: teal()
$aqua: aqua()
$seafoam: seafoam()
$sunrise: sunrise()
$navy: navy()
$taupe: taupe()
$black: black()
$white: #ffffff

////maize////

.maize
	color: $maize

.maize-bg
	background-color: $maize

.maize-fill
	fill: $maize

////rose////

.rose
	color: $rose

.rose-bg
	background-color: $rose

.rose-fill
	fill: $rose

////periwinkle////

.periwinkle
	color: $periwinkle

.periwinkle-bg
	background-color: $periwinkle

.periwinkle-fill
	fill: $periwinkle

////teal////

.teal
	color: $teal

.teal-bg
	background-color: $teal

.teal-fill
	fill: $teal

////aqua////

.aqua
	color: $aqua

.aqua-bg
	background-color: $aqua

.aqua-fill
	fill: $aqua

////seafoam////

.seafoam
	color: $seafoam

.seafoam-bg
	background-color: $seafoam

.seafoam-fill
	fill: $seafoam

////sunrise////

.sunrise
	color: $sunrise

.sunrise-bg
	background-color: $sunrise

.sunrise-fill
	fill: $sunrise

////navy////

.navy
	color: $navy

.navy-bg
	background-color: $navy

.navy-fill
	fill: $navy

////taupe////

.taupe
	color: $taupe

.taupe-bg
	background-color: $taupe

.taupe-fill
	fill: $taupe

////black////

.black
	color: $black

.black-bg
	background-color: $black

.black-fill
	fill: $black

////white////

.white
	color: $white

.white-bg
	background-color: $white

.white-fill
	fill: $white