.adpt-footer
	font-family: mr-eaves-modern, sans-serif
	min-height: 16em
	background-color: sunrise()
	display: flex
	+full-width-gutter

	.adpt-footer-block
		flex: 1
		padding: $huge * 1.5 1em

		.adpt-footer-block-inner
			font-size: 18px

			.adpt-footer-heading
				height: $blockEM
				width: 100%

				h4
					font-size: 100%

			.adpt-footer-info
				padding: 1em 0

				.footer-info-inner
					display: block