body
	overflow: auto
	position: relative
	width: 100%
	font-family: $font-stack
	font-style: normal
	font-weight: 300
	font-size: $blockEM
	color: black(.85)
	background-color: white

	img.v-constrained
		width: auto
		height: 100%

	img.w-constrained
		width: 100%
		height: auto

// heading styles

h1, h2, h3, h4, h5, h6
	font-family: atrament-web, sans-serif
	letter-spacing: 1px
	text-transform: uppercase
	font-weight: 800

h1, h4
	color: navy()

h1
	font-size: $blockEM * 2.25

h3
	font-size: $blockEM * 1.25

h4
	font-size: $blockEM

// form styles

.input-block
	padding: 1em 0
	width: 100%

	input
		margin-right: $huge

	input:not(:last-of-type)
		margin-bottom: $teeny

input, select, textarea
	font-family: $font-stack !important
	font-size: $bodytext
	outline: none !important
	border: 0
	color: black()
	background-color: aecolor(#fff,.5)

input[type="text"]
	padding: $teeny 1em
	border-radius: $tiny

button, a.button, a.btn
	font-family: $font-stack !important
	border-radius: $large
	padding: $small $large
	border: 0
	color: white
	background-color: navy()
	opacity: 1
	transition: opacity 250ms ease-in-out

	&:hover
		cursor: pointer
		opacity: .9


// miscellaneous classes

.notbold // removes 'boldness' from any text that applies this class
	font-weight: 400 !important