body
	overflow: auto
	position: relative
	width: 100%
	font-family: $font-stack
	font-style: normal
	font-weight: 400
	font-size: $blockEM
	color: black(.85)
	background-color: white

	pre
		color: red