.adpt-header
	display: flex
	height: $headerh
	+full-width-gutter

	.adpt-nav-dt
		flex: 2
		height: 100%
		padding: 1em 0
		display: flex

		.adpt-nav-logo
			height: 100%
			flex: 0

		.adpt-menu
			height: 100%
			padding-left: 1em
			flex: 1

			ul
				font-weight: bold
				color: navy()
				display: flex
				align-items: center

				li
					padding: 0 $teeny

					a
						padding: $teeny
						border-radius: $tiny
						text-transform: uppercase
						font-size: $bodytext
						transition: background-color 250ms ease-in-out

						&:hover
							background-color: aecolor(#fff,.65)

	.adpt-header-apps
		padding: $small 0
		height: 100%
		display: flex
		justify-content: right

		.adpt-app-link
			padding: 0 $teeny

			img
				display: block
				height: 100%
				width: auto
