.adpt-header
	display: flex
	height: $headerh
	+full-width-gutter

	.adpt-nav-dt
		flex: 2
		height: 100%
		padding: 1em 0
		display: flex

		.adpt-nav-logo
			height: 100%
			flex: 1

			img
				width: auto
				height: 100%

		.adpt-menu
			height: 100%
			flex: 1

			ul
				display: flex

			li
				flex: 1

	.adpt-header-apps
		flex: 1
