.adpt-header
	display: flex
	height: $headerh
	+full-width-gutter

	.adpt-nav-dt
		flex: 2
		height: 100%

		.adpt-nav-logo
			height: 100%

		.adpt-menu
			height: 100%

	.adpt-header-apps
		flex: 1
