svg.clipboard
	+material-depth
	display: block
	position: relative

	g.checkbox
		display: block
		position: relative

		path.checkmark
			animation: checkmark 250ms $ease-bouncy 1500ms both

		&.two
			path.checkmark
				animation-delay: 2000ms

		&.three
			path.checkmark
				animation-delay: 2500ms

		&.four
			path.checkmark
				animation-delay: 3000ms

	g.thumbsUp
		transform-origin: center
		animation: thumbsup 150ms $ease-bouncy 3500ms both