.qbcxlg
	width: 300px
	height: auto
	max-width: 300px

.qbclrg
	width: 225px
	height: auto
	max-width: 225px

.qbcmed
	width: 188px
	height: auto
	max-width: 188px

.qbcsml
	width: 150px
	height: auto
	max-width: 150px

.qbubble
	display: block
	transform: scale(0)

	&.left
		transform-origin: left bottom

	&.right
		transform-origin: right bottom

	.qbubble-shape
		@extend .white-fill

	.qmark
		@extend .periwinkle-fill

.qbubble-container
	position: absolute

	&.qb-aa
		top: $huge
		right: $huge + 1em
		@extend .qbcsml

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important

		.qmark
			animation-delay: #{random(1500) + 2000}ms !important
	
	&.qb-ab
		top: $huge
		right: 200px + $blockEM*3
		@extend .qbcmed

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important
		
		.qmark
			animation-delay: #{random(1500) + 2000}ms !important
	
	&.qb-ac
		top: calc(#{$huge} + 100px)
		left: calc((#{$bodyw} - 60px) / 2)
		@extend .qbclrg

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important
		
		.qmark
			animation-delay: #{random(1500) + 2000}ms !important

	&.qb-ad
		top: calc(#{$huge} + 150px)
		right: $huge
		@extend .qbcsml

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important

		.qmark
			animation-delay: #{random(1500) + 2000}ms !important

	&.qb-ae
		top: calc(#{$huge} + 270px)
		left: calc(#{$huge} + 400px)
		@extend .qbcsml

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important

		.qmark
			animation-delay: #{random(1500) + 2000}ms !important

	&.qb-af
		top: calc(#{$huge} + 200px)
		right: calc(#{$huge} + 170px)
		@extend .qbcmed

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important

		.qmark
			animation-delay: #{random(1500) + 2000}ms !important

	&.qb-ag
		top: calc(#{$huge} + 425px)
		left: calc(#{$huge} + 250px)
		@extend .qbclrg

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important

		.qmark
			animation-delay: #{random(1500) + 2000}ms !important
	
	&.qb-ah
		bottom: $huge
		left: calc(#{$huge} + 600px)
		@extend .qbcxlg

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important

		.qmark
			animation-delay: #{random(1500) + 2000}ms !important

	&.qb-ai
		top: calc(#{$huge} + 250px)
		left: $huge * 3
		@extend .qbcmed

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important

		.qmark
			animation-delay: #{random(1500) + 2000}ms !important

	&.qb-aj
		bottom: calc(#{$huge} + 1em)
		left: $huge
		@extend .qbcsml

		.qbubble
			animation-delay: #{random(1500) - random(500)}ms !important

		.qmark
			animation-delay: #{random(1500) + 2000}ms !important

+MQ($mq-tportrait)
	.qbubble-container

		&[class*="qb-"]:not(.qb-aa)
			display: none