#__next.adpt-about

    nav.adpt-menu

        .about > a
            +menuactive
            
main.adpt-about

    adpt-stage
        background-color: $teal

        adpt-columns
            display: grid
            grid-template-columns: repeat(2,1fr)
            grid-gap: $huge*2
            align-items: center

            adpt-column

                &.adpt-about-icon
                    padding: $huge*2.5
                    margin-bottom: 1em
                    order: -1

                    svg
                        height: 100%
                        width: 100%
                        +material-depth

                &.adpt-about-headline
                    display: flex
                    align-items: center

    .adpt-fold

        adpt-inner

            adpt-columns
                display: grid
                grid-template-columns: repeat(2,1fr)
                grid-gap: $huge*2

                adpt-column

                    h2
                        font-size: 175%
                        color: $sunrise
                    
                    &.fold-text

                        p:not(.emphasis)
                            font-size: $intsize
                            line-height: 110%

                        p.emphasis
                            line-height: 125%

    .adpt-about-blurb
        padding: $huge*1.5 0 $huge
        text-align: center
        margin-bottom: 1em

        h3
            color: $navy

        svg
            max-width: $headerh
            max-height: $headerh
            display: block
            margin: 1em auto

        article
            width: 100%
            max-width: $bodyw / 2
            padding: 0 $huge
            margin: 0 auto
            line-height: 125%

+MQ($mq-tportrait)
	main.adpt-about

        adpt-stage
            
            adpt-inner
                
                adpt-columns

                    adpt-column

                        &.adpt-about-icon
                            padding: 4em 2em
                            margin-bottom: 3em

+MQ($mq-mobile)
	main.adpt-about

        adpt-stage
            
            adpt-inner
                
                adpt-columns
                    display: block

                    adpt-column

                        &.adpt-about-icon
                            padding: 1em 1em $huge*1.5

                        &.adpt-about-headline
                            padding: 1em 0
        
        .adpt-fold

            adpt-inner

                .adpt-fold-graybox
                    padding: 1em

                adpt-columns
                    display: block

                    adpt-column

                        h2
                            font-size: 125%

                        &.fold-headline
                            padding-bottom: 1em