@mixin form-buffr
	margin-top: 1rem

#__next.adpt-contact

    nav.adpt-menu

        .contact > a
            +menuactive

main.adpt-contact

	adpt-stage
		background-color: $sunrise
		height: 65vh

		adpt-columns

			adpt-column
				position: relative

				&.talk-box
					padding: $huge*2.5 $huge*2.5 $huge*2.5 1em

					svg
						height: 100%
						display: block
						+material-depth

						g.dots

							& > path

								&.left
									animation: dots 1.5s ease-in-out 0s both infinite
								
								&.middle
									animation: dots 1.5s ease-in-out .25s both infinite
								
								&.right
									animation: dots 1.5s ease-in-out .5s both infinite


				&.adpt-column-collapse
					width: 40%

				form, adpt-contact-form
					width: 100%
					background-color: $teal
					padding: $huge $huge 1em
					position: absolute
					top: 1em
					+z-depth-5

					iframe
						width: 100%

					.formInnerWrap
						position: relative

						.formCover
							position: absolute
							top: 0
							bottom: 0
							left: 0
							right: 0
							z-index: 200
							background-color: teal()
							padding: $huge
							display: flex
							justify-content: center
							align-items: center

					h1
						font-size: 1rem

					.top-text
						+form-buffr
						line-height: 1.25
						font-size: $intsize

					.form-fields
						+form-buffr
						display: grid
						width: 100%
						grid-template-columns: repeat(2,1fr)
						grid-gap: $teeny

						input
							padding: $medium $medium $tiny
							width: 100%

					.form-options
						+form-buffr
						width: 100%
						padding-left: $large
						display: grid
						grid-template-rows: 1fr
						grid-gap: $tiny

						.adpt-form-input
							display: flex
							align-items: center

							input[type="radio"]
								height: $intsize
								width: $intsize
								margin: 0

								& + label
									padding-left: 1em
									font-size: $bodytext
					
					.form-message
						+form-buffr
						width: 100%

						textarea
							width: 100%
							padding: $large 1em 1em

					.adpt-form-footer
						display: flex
						align-items: center
						justify-content: center

						button.contact-form-submit
							+form-buffr

	adpt-contact
		padding-top: $huge*5

		.adpt-contact-inner
			padding: 0 1em
			display: flex

			.adpt-postbox
				+material-depth
				max-width: 60%
				flex: 1

				svg.postbox-svg
					display: block

			aside
				padding: $huge $huge*2 0

				h2
					font-size: 1rem
					color: $navy
				
				address
					padding-top: 1em
					white-space: pre
					text-align: left
					font-size: $intsize
					line-height: 1.25

+MQ($mq-tablet)
	main.adpt-contact

		adpt-stage
			height: unset
			margin-bottom: 3em

			adpt-inner
				
				adpt-columns
					
					adpt-column

						&.talk-box
							padding: 5em 3em 5em 0
							flex: 1

						&.adpt-column-collapse
							flex: 2

+MQ($mq-mobile)
	main.adpt-contact
		
		adpt-stage
			margin-bottom: 0
			
			adpt-inner
				
				adpt-columns
					display: block
					
					adpt-column
						
						&.adpt-column-collapse
							width: 100%
							padding-bottom: 3em

							form
								position: unset
								padding: $huge 1em 1em

								.formInnerWrap

									.form-fields
										display: block

										div.adpt-form-input:not(:last-of-type)
											margin-bottom: 1em

									.form-options
										padding-left: .5em

						&.talk-box
							padding: 2em 1em
							width: 100%

							svg
								width: 100%
		
		adpt-contact
			padding-top: $huge

			.adpt-contact-inner
				flex-flow: column nowrap

				.adpt-postbox
					max-width: unset
					width: 100%
				
				aside
					padding: 0 $huge $huge
					order: -1