#__next.adpt-educators

    nav.adpt-menu

        .educators > a
            +menuactive

main.adpt-educators
    
    adpt-stage
        background-color: $rose

        adpt-columns
            display: grid
            grid-template-columns: repeat(2,1fr)
            grid-gap: $huge*2
            align-items: center
            padding-bottom: $headerh

            adpt-column

                &.adpt-educator-anim
                    padding-top: $huge*2
                    padding-left: $huge

                    svg
                        height: 100%
                        width: 100%
                        +material-depth

                &.adpt-edu-headline
                    display: flex
                    align-items: center

    .adpt-fold

        adpt-inner

            adpt-columns
                display: grid
                grid-template-columns: repeat(2,1fr)
                grid-gap: $huge*2

                adpt-column

                    h2
                        font-size: 150%
                        color: $sunrise
                    
                    &.fold-text

                        p:not(.emphasis)
                            font-size: $intsize

                        p.emphasis
                            line-height: 125%

    .adpt-perks-grid

        adpt-inner
            padding: $huge*2

            h3
                color: navy()
                font-family: $font-stack
                font-size: $intsize
                padding-right: $huge

            & > div
                display: grid
                grid-template-columns: repeat(2,1fr)
                grid-gap: $huge*2
                padding: $huge*2

                svg
                    display: block
                    max-width: $huge*1.5
                    padding-bottom: 1em
                
                h4
                    padding-bottom: 1em

    .adpt-perks-panels
        display: flex
        color: white()

        & > article
            position: relative
            width: 50%

            svg
                display: block

            &:first-child
                background-color: navy()

            &:last-child
                background-color: periwinkle()

            & > div
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                text-align: center
                padding: $huge $huge*4
                display: flex
                flex-flow: column nowrap
                justify-content: center
                align-items: center
                line-height: 110%

                h4
                    color: white()
                    padding-bottom: 1em

    .adpt-section-headline
        text-align: center
        padding: $huge * 2
        margin-bottom: 1em

        h3
            color: $navy

        p
            max-width: 750px
            display: inline-block
            margin-top: 1em

+MQ($mq-tportrait)
	body.adpt-educators
        
        .adpt-fold

            adpt-inner

                adpt-columns
                    grid-template-columns: 1fr
                    grid-template-rows: repeat(2,1fr)
                    grid-gap: $huge

        adpt-stage
            
            adpt-inner
                
                adpt-columns
                    grid-template-columns: 1fr
                    grid-template-rows: repeat(2, 1fr)
                    grid-gap: $huge
                    
                    adpt-column
                        margin: 0 !important
                        
                        &.adpt-edu-headline
                            order: 1
                            
                        &.adpt-educator-anim
                            padding: 0 .5em
                            order: 2
                            
                        h1
                            font-size: 40px
                            padding: 0 1em