main.adpt-front-page

	section
		margin-bottom: 1em
		
	//.adpt-header

	.adpt-stage
		background-color: $sunrise
		padding-bottom: $huge

		.adpt-stage-inner
			display: flex
			flex-wrap: nowrap
			align-items: center

			.adpt-stage-column
				margin: 0
				flex: 1
				flex-basis: 100%

				&:nth-child(odd)
					margin-right: 1em

				&:nth-child(even)
					margin-left: 1em

				figure
					margin: 0

		h1
			opacity: 0
			+animator(fadein, 2s, ease-in-out, 3s)

	.adpt-fold
		
		adpt-inner
			
			.adpt-fold-graybox
				text-align: center

	adpt-qblock
		color: white
		background-color: $navy
		margin-bottom: 1em

		h2, h5
			color: $teal

		h2
			+material-depth

		adpt-qblock-content

			adpt-qblock-content-inner

				a.btn
					background-color: $teal

+MQ($mq-tportrait)
	main.adpt-front-page

		.adpt-stage

			.adpt-stage-inner
				display: block

				.adpt-stage-column
					margin: 0 !important

					h1
						font-size: 40px
						padding: 1em

		.adpt-podcast

			.adpt-podcast-inner

				.adpt-podcast-content
					padding: 0
				
					h2
						font-size: 40px
						padding: $huge 1em

					&.blurb
						padding-bottom: $huge

						.adpt-podcast-blurb-inner
							max-width: unset
							width: 50%

+MQ($mq-mobile)
	main.adpt-front-page

		.adpt-stage

			.adpt-stage-inner
				display: block

				.adpt-stage-column

					h1
						font-size: 30px
						padding: $huge 1em 0

		.adpt-podcast

			.adpt-podcast-inner

				.adpt-podcast-content
				
					h2
						font-size: 30px