#__next.adpt-students

    nav.adpt-menu

        .students > a
            +menuactive

main.adpt-students

    adpt-stage
        position: relative
        z-index: 1
        background-color: $sunrise
        height: 100vh
        padding-top: 0
        overflow: hidden

        svg
            position: absolute
            opacity: .1

        adpt-inner
            position: relative
            z-index: 2
            display: flex
            height: 100%
            justify-content: center
            align-items: center
            padding: 15%
            text-align: center
        
    .adpt-fold
        z-index: 5
        margin-bottom: 1em
        
        adpt-inner
            
            .adpt-fold-graybox
                min-height: 6em
                padding: $huge*1.5 10%
                text-align: center

                p
                    &:last-of-type
                        margin-bottom: 0
    
    .adpt-videoblock
        margin-bottom: 1em

        adpt-inner

            .adpt-video-embed-inner
                padding: 56.25% 1em 1em 0
                position: relative
                +z-depth-4

    .adpt-app-pitch

        adpt-inner

            adpt-columns
                display: grid
                grid-gap: 1em
                grid-template-columns: 1fr 1fr
                align-items: center
                align-content: center

                adpt-column
                    padding: 3em
                    order: 1

                    &.adptHeroArt
                        order: 0

                    .studentsApps
                        display: flex
                        justify-content: flex-start

                        & > div
                            padding-right: .5em
                            font-size: 350%

                            a
                                color: navy(.75)
                                transition: color 100ms ease-in-out

                                &:hover
                                    color: navy()

                                i
                                    text-shadow: 3px 8px 12px black(.05), 3px 6px 8px black(.05), 5px 5px 8px black(.05)

                    svg
                        display: block
                        +material-depth

                    h4
                        font-size: 200%

                    h5
                        color: $periwinkle

                    & > *:not(:first-child)
                        margin-top: 1em

    .adpt-interview-request
        padding: 2em 0
        background-color: $rose

+MQ($mq-mobile)
    main.adpt-students

        .adpt-app-pitch
            margin-bottom: 2em

            adpt-inner

                adpt-columns
                    grid-template-columns: 1fr
                    grid-gap: 2em

                    adpt-column
                        padding: 0

                        h4
                            font-size: 125%

                        .studentsApps
                            justify-content: center