body.adpt-students

    nav.adpt-menu

        .students > a
            +menuactive

    adpt-stage
        background-color: $sunrise
        height: 100vh
        margin-bottom: -$headerh
        
    .adpt-fold
        margin-bottom: 1em
        
        adpt-inner
            
            .adpt-fold-graybox
                min-height: 6em
                padding: $huge*1.5 10%
                text-align: center