adpt-portal, adpt-logo
    display: block

adpt-logo
    height: 100%
    width: auto

    svg
        fill: $sunrise
        height: 100%
        +fillThemes

adpt-portal
    min-height: 100vh
    width: 100%

    header, main, menu
        width: 100%

    menu
        height: calc(100% - 3em)
        position: fixed
        top: 3em
        bottom: 0
        left: 0
        right: 0
        background-color: transparent
        visibility: hidden
        opacity: 0
        z-index: -1
        transition: all 250ms ease-in-out

        body.menu-open &
            visibility: visible
            opacity: 1
            z-index: 1
            background-color: black(.5)

        nav
            position: absolute
            display: flex
            flex-flow: column nowrap
            overflow: hidden
            height: 100%
            width: $navwidth
            background-color: $white
            transform: translate3d(-$navwidth,0,0)
            +z-depth-4
            transition: all 250ms ease-in-out

            body.menu-open &
                transform: translate3d(0,0,0)

            .main-nav
                flex: 1

            .adptThemer
                padding: 1em
                background-color: whitesmoke
                display: flex
                +z-depth-5

                .adptTheme
                    width: 1em
                    height: 1em
                    margin-right: $tiny
                    cursor: pointer
                    +z-depth-1
                    transition: all 250ms ease-in-out

                    &:hover
                        +z-depth-3

                    &.active
                        +z-depth-3

    header
        position: relative
        z-index: 9999
        padding: 1em
        height: 3rem
        background-color: white()
        display: flex
        +z-depth-2
        
        .adpt-mobile-menu
            display: block
            color: $sunrise
            margin-right: 1em
            +colorThemes

            .adpt-mobile-menu-icon
                width: $headerh
                height: $headerh
                position: relative
                top: calc(50% - 1.5em)
                font-size: .5em
                cursor: pointer
                transition: all 250ms ease-in-out
                -webkit-tap-highlight-color: transparent

                &:after
                    content: ''
                    display: block
                    position: absolute
                    height: 150%
                    width: 150%
                    top: -25%
                    left: -25%

                .adpt-mobile-menu-icon-lines
                    top: 50%
                    margin-top: -.125em
                    transition: all 250ms

                    &, &:after, &:before
                        pointer-events: none
                        display: block
                        content: ''
                        width: 100%
                        height: $tiny
                        position: absolute
                        border-radius: $tiny
                        transform: rotate(0)
                        background-color: $sunrise
                        +bgColorThemes

                    &:after
                        width: $huge
                        left: 0
                        top: calc(-1em + #{$tiny})

                    &:before
                        width: $huge
                        left: 1em
                        top: calc(1em - #{$tiny})

                body.menu-open &
                    transform: rotate(180deg)

                    .adpt-mobile-menu-icon-lines
                        background-color: transparent

                        &:after, &:before
                            left: .5em
                            top: 0

                        &:after
                            transform: rotate(-135deg)

                        &:before
                            transform: rotate(135deg)

    main
        height: calc(100vh - 3em)
        background-color: $sunrise
        +bgColorThemes