#__next.adpt-askapro

    nav.adpt-menu

        .askapro > a
            +menuactive

main.adpt-askapro

    adpt-stage
        background-color: $teal
        margin-bottom: 0

        adpt-qblock
            
            adpt-qblock-content
                
                adpt-qblock-content-inner
                    
                    aside
                        color: black