.adpt-error
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    background-color: $rose

    & > div
        display: flex
        align-items: center

    h1
        padding: $smalltext 1rem
        margin-right: 1rem
        border-right: 1px solid black(.5)

    h2
        color: $white
        font-size: 1rem