// Font Weights //
$weights: 200 400 600 800

// Responsive sizes //
$ittybitty: .125em
$tiny: .25em
$teeny: .5em
$small: .75em
$medium: 1.25em
$large: 1.5em
$huge: 2em

// Static sizes //
$blockEM: 24px
$intsize: 1rem * .8
$bodytext: 1rem * .6666666666
$smalltext: 1rem * .5
$bodyw: 1400px
$headerh: 3em
$navwidth: 350px

// Breakpoints //
$mq-mobile: 767px
$mq-tportrait: 992px
$mq-tablet: 1200px
$mq-desktop: 1365px
$mq-wide: 1800px

$font-stack: mr-eaves-modern, 'Helvetica Neue', Helvetica, sans-serif

$ease-bouncy: cubic-bezier(0.215,0.855,0.655,1.510)