body.adpt-contact

	adpt-stage
		background-color: $periwinkle
		height: 40vh

		adpt-inner, adpt-columns, adpt-column
			height: 100%

			adpt-column
				position: relative

				&.adpt-column-collapse
					width: 400px

				form
					width: 100%
					height: 400px
					background-color: $teal
					padding: $huge
					position: absolute
					top: 3em

	adpt-contact

		.adpt-contact-inner

			.adpt-postbox
				padding-top: $huge*2
				max-width: 60%

				svg.postbox-svg
					display: block