body.adpt-contact

	adpt-stage
		background-color: $periwinkle

	adpt-contact

		.adpt-contact-inner

			.adpt-postbox
				padding-top: $huge*2
				max-width: 60%

				svg.postbox-svg
					display: block