body.adpt-front-page

	section

		&:not(.adpt-stage):not(:last-of-type)
			margin-bottom: 1em

	.adpt-header

	.adpt-stage
		background-color: sunrise()

	.adpt-fold
		background: linear-gradient(180deg, sunrise() 35%, sunrise(0) 35%)
		margin-bottom: 1em
		
		.adpt-fold-inner
			
			.adpt-fold-graybox
				text-align: center