body.adpt-front-page

	section

		&:not(.adpt-stage):not(:last-of-type)
			margin-bottom: 1em

	.adpt-header

	.adpt-stage
		background-color: $sunrise

		h1
			opacity: 0
			-webkit-animation: 3s ease-in-out .5s normal forwards 1 fadein
			animation: 3s ease-in-out .5s normal forwards 1 fadein

	.adpt-fold
		background: linear-gradient(180deg, $sunrise 35%, sunrise(0) 35%)
		margin-bottom: 1em
		
		.adpt-fold-inner
			
			.adpt-fold-graybox
				text-align: center

	.adpt-podcast
		background-color: $navy
		min-height: 20em

		h2, h5
			color: $teal