body.adpt-front-page

	section

		&:not(.adpt-stage):not(:last-of-type)
			margin-bottom: 1em

	.adpt-header

	.adpt-stage
		background-color: sunrise()

	.adpt-fold
		background: linear-gradient(180deg, sunrise() 35%, sunrise(0) 35%)
		margin-bottom: 1em
		
		.adpt-fold-inner
			
			.adpt-fold-graybox
				text-align: center

	.adpt-podcast
		background-color: navy()
		min-height: 20em

		h2, h5
			color: teal()

	.adpt-ctas
		min-height: 10em

		.adpt-ctas-inner
			+body-max-width

			.wp-block-column
				background-color: taupe()
				min-height: 10em
				margin: 0 $teeny

				&:first-of-type
					margin-right: $teeny
					margin-left: 0

				&:last-of-type
					margin-left: $teeny
					margin-right: 0