// miscellaneous classes

.v-constrained
	width: auto
	height: 100%

.w-constrained
	width: 100%
	height: auto

.notbold // removes 'boldness' from any text that applies this class
	font-weight: 400 !important

.input-block
	padding: 1em 0
	width: 100%

	input
		margin-right: $huge

	input:not(:last-of-type)
		margin-bottom: $teeny