svg.gabby
	display: block

	ellipse.belly.bounce
		transform-origin: 907px 3788px
		animation: bellybounce .5s cubic-bezier(.68,-0.55,.27,1.55) 1s both

	g.belly-emphasis
		animation: popinout .5s ease-in-out 1s both

	path.mouth
		transform-origin: 995px 2687px
		animation: smilefrown 1.5s ease-in-out

	circle.small-lead
		opacity: 0
		+animator(fadein, .1s, ease-in-out, 2s)

	circle.med-lead
		opacity: 0
		+animator(fadein, .1s, ease-in-out, 2.1s)
	
	circle.lrg-lead
		opacity: 0
		+animator(fadein, .1s, ease-in-out, 2.2s)

	g.cloud
		opacity: 0
		+animator(fadein, .1s, ease-in-out, 2.3s)

	g.post-choice
		opacity: 0
		+animator(fadein, 1s, ease-in-out, 2.5s)

	ellipse.eye-white
		animation: blinkwhite 30s ease-in-out 4s infinite

	ellipse.eye-iris
		animation: eyemover 5s ease-in-out 2s 1 forwards, blinkiris 30s ease-in-out 4s infinite