svg.gabby
	display: block

	path.mouth
		+animator(smilefrown, .05s, ease-in-out, 2s)

	circle.small-lead
		opacity: 0
		+animator(bouncein, .1s, ease-in-out, 2.5s)

	circle.med-lead
		opacity: 0
		+animator(bouncein, .1s, ease-in-out, 2.6s)
	
	circle.lrg-lead
		opacity: 0
		+animator(bouncein, .1s, ease-in-out, 2.7s)