svg.gabby
	display: block

	path.mouth
		+animator(smilefrown, .05s, ease-in-out, 1.5s)

	circle.small-lead
		opacity: 0
		+animator(fadein, .1s, ease-in-out, 4.5s)

	circle.med-lead
		opacity: 0
		+animator(fadein, .1s, ease-in-out, 4.6s)
	
	circle.lrg-lead
		opacity: 0
		+animator(fadein, .1s, ease-in-out, 4.7s)

	g.cloud
		opacity: 0
		+animator(fadein, .1s, ease-in-out, 4.8s)

	g.post-choice
		opacity: 0
		+animator(fadein, .1s, ease-in-out, 5s)

	circle.eye-iris
		+animator(eyemover, 5s, ease-in-out, 2.25s)
