adpt-stage, adpt-inner, adpt-columns, adpt-column, adpt-contact, adpt-post-footer, adpt-team-bio, adpt-parallax-content, adpt-parallax-bg, adpt-qblock, adpt-qbubble-overlay, adpt-qblock-content, adpt-qblock-content-inner
    +custom-block-element
    @extend div
    
adpt-inner, adpt-columns, adpt-column
    height: 100%

adpt-inner
    position: relative
    +body-max-width

adpt-columns
    display: flex
    flex-flow: row wrap

adpt-column
    flex: 1 1 auto
    min-height: $huge*2

    &.adpt-column-collapse
        flex: initial

adpt-post-footer
    height: $huge
    background-color: aecolor(#cb733a)