adpt-faq
	padding: 3em 10%

	h5
		text-transform: uppercase
		color: $navy
		font-size: $intsize

	adpt-columns
		display: grid
		padding-top: 1.5em
		grid-template-columns: repeat(2,1fr)
		grid-gap: 3em

		p
			margin-bottom: 1em

		span.question
			font-weight: bold
			padding-bottom: .25em
			display: block

		span.answer
			font-size: $intsize
			line-height: 100%

+MQ($mq-tablet)
	adpt-faq
		padding: 2em 7%

+MQ($mq-mobile)
	adpt-faq
		padding: 2em 5%

		adpt-columns
			grid-template-columns: 1fr
			grid-gap: 0