.adpt-header
	position: absolute
	display: flex
	height: $headerh
	z-index: 999
	+full-width-gutter

	.adpt-nav-logo
		height: 100%
		padding: 1em 0

		a

			svg
				display: block
				fill: $white
				@extend .v-constrained

	.adpt-nav-dt
		flex: 1
		height: 100%
		padding: 1em 0

		.adpt-menu
			height: 100%
			padding-left: 1em
			flex: 1

			& > div
				height: 100%

			ul
				height: 100%
				font-weight: bold
				color: $navy
				display: flex
				align-items: center

				li
					white-space: nowrap
					padding: 0 $teeny

					a
						padding: $teeny
						border-radius: $tiny
						text-transform: uppercase
						font-size: $bodytext
						letter-spacing: 2px
						transition: background-color 250ms ease-in-out

						&:hover, &:focus
							+menuactive

		.adpt-mobile-menu
			display: none

	.adpt-header-apps
		padding: $small 0
		display: flex
		justify-content: center
		align-items: center

		& > span
			display: block
			padding-right: 1em
			color: $navy
			font-weight: bold
			text-transform: uppercase
			font-size: $bodytext
			letter-spacing: 2px

		.adpt-app-link
			position: relative
			padding: 0 $teeny

			a
				color: white(.75)

+MQ($mq-tablet)
	.adpt-header

		.adpt-nav-dt
			font-size: $intsize

			.adpt-menu

				& > div

				ul

					li
						padding: 0
						padding-right: $teeny

		.adpt-header-apps
			padding-left: .5em

+MQ($mq-tportrait)
	html.menu-open, body.menu-open
		 overflow: hidden

	.adpt-header
		position: fixed
		top: 0
		z-index: 9999999
		background-color: $white
		padding: 0 1em

		.adpt-mobile-menu
			display: block
			color: $sunrise
			margin-right: 1em

			.adpt-mobile-menu-icon
				width: $headerh
				height: $headerh
				position: relative
				top: calc(50% - 1.5em)
				font-size: .5em
				cursor: pointer
				transition: all .25s
				-webkit-tap-highlight-color: transparent

				&:after
					content: ''
					display: block
					position: absolute
					height: 150%
					width: 150%
					top: -25%
					left: -25%

				.adpt-mobile-menu-icon-lines
					top: 50%
					margin-top: -.125em
					transition: all 250ms

					&, &:after, &:before
						pointer-events: none
						display: block
						content: ''
						width: 100%
						height: $tiny
						position: absolute
						border-radius: $tiny
						transform: rotate(0)
						background-color: $navy
						transition: all 250ms

					&:after
						width: $huge
						left: 0
						top: calc(-1em + #{$tiny})

					&:before
						width: $huge
						left: 1em
						top: calc(1em - #{$tiny})

				body.menu-open &
					transform: rotate(180deg)

					.adpt-mobile-menu-icon-lines
						background-color: transparent

						&:after, &:before
							left: .5em
							top: 0

						&:after
							transform: rotate(-135deg)

						&:before
							transform: rotate(135deg)

		.adpt-nav-logo

			a

				svg
					fill: $sunrise
					height: 100%

		.adpt-header-apps
			position: fixed
			left: 0
			right: 0
			bottom: 1em
			z-index: 9999999
			visibility: hidden
			padding: $small
			opacity: 0
			max-height: 1.5em
			width: 100%
			font-size: 1rem
			transition: all 250ms

			body.menu-open &
				visibility: visible
				opacity: 1

			.adpt-app-link
				height: 100%
				text-align: center
				padding: 0 1em

				a
					color: black(.75)

		.adpt-nav-dt

			.adpt-menu
				height: auto
				position: fixed
				z-index: 999999
				visibility: hidden
				opacity: 0
				background-color: $white
				padding-right: 1em
				top: $headerh
				left: 0
				right: 0
				bottom: 0
				transition: all 250ms

				ul
					padding: $medium 0
					display: block

					li
						padding: 0

						a
							display: block
							padding: $medium
							font-size: $intsize

							&:hover, &:focus
								background-color: aecolor(#000,.25)

				body.menu-open &
					visibility: visible
					opacity: 1