adpt-qblock
    position: relative
    color: white

    adpt-inner
        position: relative

    h2, h5
        color: $navy
    
    h2
        width: 100%
        max-width: 600px

    h5
        letter-spacing: 0px
        margin-bottom: $teeny

    adpt-qblock-content
        position: relative
        padding: $huge 0

        &.blurb
            display: flex
            justify-content: flex-end

        adpt-qblock-content-inner
            width: 100%
            max-width: 300px

            aside
                line-height: 110%
                font-size: calc($bodytext + 2px)

            .adpt-lm-btn
                position: relative
                z-index: 200

            .btn
                display: inline-block
                background-color: $navy
                font-size: $intsize
                margin-top: 1em

    adpt-qbubble-overlay
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        padding: $huge

        .qbubble-container

            svg
                
                .qmark
                    transform-origin: center
                    +animator(wiggle, 4000ms, ease-in-out, infinite)

#qbubblecontainer, #askaproqbubble
    
    &.active

        adpt-qbubble-overlay

            .qbubble-container

                svg
                    
                    &.qbubble
                        +animator(scaleIn, 250ms, ease-in-out)

+MQ($mq-mobile)
    #qbubblecontainer, #askaproqbubble
    
        &.active

            adpt-qbubble-overlay

                .qb-aa
                    top: 8.75em