.adpt-sms-facts

	strong
		font-weight: bold

	.adpt-sms-inner
		border-radius: $ittybitty
		+body-max-width

		.adpt-sms-aqua-box
			background-color: teal(.4)
			padding: $large*2 1em
			color: $white
			display: flex

			.adpt-sms-arrow
				padding: $teeny 1em
				border-radius: $tiny
				line-height: 0
				margin-right: 1em

			.adpt-sms-text
				flex: 1
				color: black()
				background-color: $white
				padding: 0 .5em 0 1em
				border-radius: 1em
				display: flex
				align-items: center

				div.sms
					flex: 1
					display: flex

					& > div
						display: inline-block

						h5
							font-size: $intsize
							font-family: $font-stack
							font-weight: normal
							overflow: hidden
							white-space: nowrap
							padding-right: .15em
							border-right: .1em solid black(.8)
							animation: typing 5s steps(50,end),caret .5s step-end infinite

				div.send
					color: $white
					padding: $ittybitty .4em
					border-radius: 50%
					@extend .teal-bg