adpt-social-icons
	display: flex

	a

		i
			width: 2em
			border-radius: 1em
			background-color: $navy
			flex: 1 1 100%
			color: $white
			padding: .5em

			&.fa-youtube
			
				&:before
					margin-left: -.0625em
			
		&:not(:last-of-type)
			margin-right: 1em