adpt-stat-block
	border-radius: $tiny
	overflow: hidden
	padding: $large*2 1em

	adpt-stats-grid
		display: grid
		grid-template-columns: repeat(3,1fr)
		padding: 1em 0

		adpt-stats-cell
			padding: 1em
			text-align: center

			&:nth-child(2n+1)
				background-color: teal(.5)

			.statNum
				display: block
				padding: 1em 0

				h4
					font-size: 175%

+MQ($mq-mobile)
	.adpt-stat-block

		adpt-inner
			padding: 0

			adpt-stat-block
				padding-left: 0
				padding-right: 0

				h3
					padding: 0 .5em
					text-align: center

				adpt-stats-grid
					grid-template-columns: 1fr

					adpt-stats-cell
						display: flex
						align-items: center
						font-size: 80%

						.statText
							display: block
							padding-left: 1em