adpt-team-bio
    position: relative
    background-color: $navy
    color: $white
    min-height: 20em

    h4
        color: white()

    .adpt-bio-heading
        padding: $huge 0 1em 0
        text-align: center

        h4
            font-size: 1.5em

    adpt-parallax-bg
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: .25
        background-attachment: fixed
        background-image: url('/static/img/team-bio-texture.png')

    adpt-team-bio-content
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-template-rows: repeat(2,auto)
        grid-gap: $huge
        position: relative
        +body-max-width
        padding: $huge
    
        figure
            display: flex
            position: relative
            margin: 0

            h4
                position: absolute
                bottom: 1em
                right: 1em

            img
                width: 100%
                height: auto
                display: block
                flex: 1
                cursor: pointer
                +z-depth-4

            figcaption
                flex: 2
                line-height: 110%
                display: none

        &.actif

            figure:not(.active)

                img
                    opacity: .75
                    transition: all 250ms ease-in-out

                    &:hover
                        opacity: 1

            figure.active
                order: -1
                grid-column: 1 / 4

                img
                    max-width: 32%

                h4
                    right: unset
                    left: 1em

                figcaption
                    display: block
                    padding: 1em $huge