.adpt-vidgrid-header
	display: flex
	align-items: center

	h4
		font-size: 1.25rem
		padding: 1.5em 0
		flex: 1
	
	p
		font-size: $intsize
		flex: 3

.vidgrid-cont
	display: grid
	grid-template-columns: repeat(2,1fr)
	grid-gap: 1em

	.adpt-video-embed-inner
		padding: 56.25% 1em 1em 0
		position: relative
		overflow: hidden
		border-radius: .25em
		+z-depth-2

+MQ($mq-mobile)
	.adpt-vidgrid-header
		flex-flow: column nowrap
		padding-bottom: 1em

		h4
			padding: 1em 0
		
	.vidgrid-cont
		grid-template-columns: 1fr