.adpt-blog
	background: sunrise()
	background: linear-gradient(0deg, sunrise() 50%, sunrise(0) 50%)

	.adpt-blog-inner
		+body-max-width

		.adpt-blog-top
			width: 100%
			display: flex
			align-items: center

			.adpt-blog-heading
				padding: $large 0
				flex: 1

			.adpt-blog-link

				a.btn
					font-size: $intsize
					background-color: navy()

		.adpt-post-blocks
			width: 100%
			display: flex

			.adpt-post-block
				flex: 1 1 100%
				border-radius: $tiny
				background-color: periwinkle()
				position: relative
				padding-top: 25%

				.adpt-post-block-inner
					position: absolute
					top: 0
					right: 0
					bottom: 0
					width: 100%
					padding: $huge $huge 0 $huge

					.view-post-link
						position: absolute
						font-size: $bodytext
						bottom: 0
						padding: 1em 0
						color: white
						text-transform: uppercase

						i
							margin-left: $large

			.adpt-post-spacer
				color: black(0)