.adpt-blog
	min-height: $huge * 5
	background: sunrise()
	background: linear-gradient(0deg, sunrise() 50%, sunrise(0) 50%)

	.adpt-blog-inner
		+body-max-width

		.adpt-blog-top
			width: 100%
			display: flex
			align-items: center

			.adpt-blog-heading
				padding: 1em 0
				flex: 1

			.adpt-blog-link

				a.btn
					font-size: $intsize
					background-color: navy()