.adpt-ctas
	min-height: 10em

	.adpt-ctas-inner
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 1em
		+body-max-width

		.adpt-cta
			background-color: $taupe

			.adpt-icon
				padding: 25% 25% 15%

				svg
					max-height: $huge*3

			.adpt-cta-text
				text-align: center
				padding: 0 $medium*2

				h5
					padding-bottom: 1em

				p
					font-size: $intsize - 1px
					line-height: 125%
					max-height: 5em