.adpt-ctas
	min-height: 10em

	.adpt-ctas-inner
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-column-gap: 1em
		+body-max-width

		.adpt-cta
			background-color: $taupe

			.adpt-icon
				padding: 25%

				svg
					max-height: $huge*3