.adpt-fold

	.adpt-fold-inner
		+body-max-width

		.adpt-fold-graybox
			background-color: taupe()
			padding: $huge*2 $huge*3
			border-radius: $tiny

			p
				margin-bottom: $large

				span.spaced
					line-height: $medium