.adpt-fold
	position: relative

	.adpt-fold-inner
		+body-max-width

		.adpt-fold-graybox
			background-color: $taupe
			padding: $large*2 $huge*3
			border-radius: $tiny

			p
				margin-bottom: $large
				display: block

				span.spaced
					line-height: $medium
			
			a
				display: inline-block

+MQ($mq-tportrait)
	.adpt-fold

		.adpt-fold-inner

			.adpt-fold-graybox
				padding: $huge