.adpt-footer
	position: relative
	background-color: sunrise(.9)
	display: flex
	+full-width-gutter

	.adpt-footer-block
		flex: 1
		padding: $huge 1em $small

		.adpt-footer-block-inner
			font-size: $intsize

			i
				margin-right: 1em

			.adpt-footer-heading
				height: $blockEM
				width: 100%

			.adpt-footer-info
				padding: 1em 0

				.footer-info-inner
					display: block
					padding-bottom: $teeny
			
			input
				max-width: 80%
				width: 100%

			button, a.button, a.btn
				font-size: $intsize
				display: inline-block
				padding: $teeny 1em

				i.fas
					font-size: $bodytext
					margin-right: $teeny

		&.block-3
			
			.adpt-footer-info

				.footer-info-inner
					padding-bottom: 1em

		&.block-4

			.gcfa-logo
				width: 100%
				padding: 1em $huge * 2 1em 0

+MQ($mq-tportrait)
	.adpt-footer
		display: block
		padding-top: 1em

		.adpt-footer-block
			padding: 1em