.adpt-footer
	background-color: sunrise()
	display: flex
	+full-width-gutter

	.adpt-footer-block
		flex: 1
		padding: $huge * 1.5 1em

		.adpt-footer-block-inner
			font-size: 18px

			i
				margin-right: 1em

			.adpt-footer-heading
				height: $blockEM
				width: 100%

			.adpt-footer-info
				padding: 1em 0

				.footer-info-inner
					display: block
					padding-bottom: $teeny
			
			input
				max-width: 80%
				width: 100%

			button
				font-size: $intsize
				background-color: navy()