.adpt-panel-block
	min-height: 16em
	margin-bottom: 1em

	.adpt-panel-block-inner
		+body-max-width
		display: flex
		position: relative

		.adpt-panel
			flex: 1
			position: relative
			background-color: teal()
			border-radius: $tiny
			overflow: hidden
			opacity: .85
			transition: opacity 100ms ease-in-out

			&:hover
				cursor: pointer
				opacity: 1

			&:nth-child(odd)
				margin-right: $teeny

			&:nth-child(even)
				margin-left: $teeny

			figure
				width: 100%
				margin: 0

				img
					display: block

			.adpt-panel-overlay
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				color: white

				.adpt-panel-topright
					width: 100px
					top: $huge
					right: $huge
					position: absolute
					text-align: right

					.adpt-panel-vert
						font-size: $intsize
						transform: rotate(90deg)
						text-transform: uppercase

				.adpt-panel-info
					width: 50%
					bottom: $huge
					right: $huge
					position: absolute

					h4
						margin-bottom: 1em
						color: white

					p
						font-size: $intsize
						line-height: 125%
						height: $huge*2