.adpt-panel-block
	min-height: 16em
	margin-bottom: 1em

	.adpt-panel-block-inner
		+body-max-width
		display: flex

		.adpt-panel
			flex: 1
			background-color: teal()

		&:nth-child(odd)
			margin-right: 1em

		&:nth-child(even)
			margin-left: 1em