.adpt-panel-block
	min-height: 16em
	margin-bottom: 1em

	.adpt-panel-block-inner
		+body-max-width
		display: flex
		position: relative

		.adpt-panel
			flex: 1
			position: relative
			background-color: teal()

			&:nth-child(odd)
				margin-right: $teeny

			&:nth-child(even)
				margin-left: $teeny

			figure
				width: 100%
				margin: 0

				img
					display: block