.adpt-sms-facts

	strong
		font-weight: bold

	.adpt-sms-inner
		border-radius: $ittybitty
		+body-max-width

		.adpt-sms-aqua-box
			background-color: teal(.4)
			padding: $large*2 1em
			color: $white
			display: flex

			.adpt-sms-arrow
				padding: $teeny 1em
				border-radius: $tiny
				line-height: 0
				margin-right: 1em

			.adpt-sms-text
				flex: 1
				color: black()
				background-color: $white
				padding: 0 .5em 0 1em
				border-radius: 1em
				display: flex
				align-items: center

				span.sms
					flex: 1

					.typer
						overflow: hidden
						border-right: black(.8)
						-webkit-animation: typer 5s steps(30,end),caret .5s step-end infinite
						-moz-animation: typer 5s steps(30,end),caret .5s step-end infinite
						-ms-animation: typer 5s steps(30,end),caret .5s step-end infinite
						-o-animation: typer 5s steps(30,end),caret .5s step-end infinite
						animation: typer 5s steps(30,end),caret .5s step-end infinite

						+keyframes(typer)
							from
								width: 0
							to
								width: 100%

						+keyframes(caret)
							from, to
								border-color: transparent
							50%
								border-color: black(.8)

				span.send
					color: $white
					padding: $ittybitty .4em
					border-radius: 50%
					@extend .teal-bg