.adpt-sms-facts
	min-height: 10em

	.adpt-sms-inner
		border-radius: $ittybitty
		+body-max-width

		.adpt-sms-aqua-box
			background-color: teal(.5)
			padding: $large*2 0
			display: flex

			.adpt-sms-arrow

			.adpt-sms-text
				flex: 1

			.adpt-sms-send