.adpt-sms-facts

	.adpt-sms-inner
		border-radius: $ittybitty
		+body-max-width

		.adpt-sms-aqua-box
			background-color: teal(.4)
			padding: $large*2 1em
			color: $white
			display: flex

			.adpt-sms-arrow

			.adpt-sms-text
				flex: 1
				color: black()
				background-color: $white
				padding: 1em $huge
				border-radius: 1em