adpt-team-bio
    position: relative
    background-color: $navy
    color: $white
    min-height: 20em

    adpt-parallax-bg
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-attachment: fixed
        background-image: url('/app/themes/adopted/assets/img/team-bio-texture.png')

    adpt-team-bio-content
        display: block
        position: relative
        z-index: 1
    
        figure
            margin: 0

            img
                width: 200px