adpt-team-bio
    position: relative
    background-color: $navy
    color: $white
    min-height: 20em

    adpt-parallax-bg
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: .25
        background-attachment: fixed
        background-image: url('/app/themes/adopted/assets/img/team-bio-texture.png')

    adpt-team-bio-content
        display: flex
        flex-flow: row wrap
        position: relative
        +body-max-width
        padding: $huge
    
        figure
            display: flex
            margin: 0
            cursor: pointer
            width: 35%
            padding: 1em

            img
                width: 100%
                height: auto
                flex: 1

            figcaption
                display: none

            &.active
                order: -1

                img
                    flex: 1

                figcaption
                    display: block
                    flex: 2