body[class^="adpt-"]

	.wp-block-columns
		align-items: center

		.wp-block-column
			margin: 0

			&:nth-child(odd):not(.adpt-ctas-inner > &)
				margin-right: 1em

			&:nth-child(even):not(.adpt-ctas-inner > &)
				margin-left: 1em

			figure
				margin: 0

				img
					display: block