+keyframes(fadein)
    0%
        opacity: 0
    100%
        opacity: 1

+keyframes(popinout)
    0%
        opacity: 0
    20%
        opacity: 0
    40%
        opacity: 1
    100%
        opacity: 0

+keyframes(smilefrown)
    0%
        d: path("M848.3552,2708.8157c-69.057-70.9727,152.1592-35.1623,152.1592-35.1623S917.9208,2780.3111,848.3552,2708.8157Z")
    100%
        d: path("M995.2385,2686.8689c48.5529,86.3054-156.0884-5.0236-156.0884-5.0236S946.3281,2599.9279,995.2385,2686.8689Z")

+keyframes(eyemover)
    0%
        transform: translate(0,0,0)
    5%
        transform: translate(0,0,0)
    10%
        transform: translate3d(25px,-55px,0)
    40%
        transform: translate3d(25px,-55px,0)
    45%
        transform: translate3d(-20px,-30px,0)
    95%
        transform: translate3d(-20px,-30px,0)
    100%
        transform: translate3d(3px,-31px,0)

+keyframes(bellybounce)
    0%
        rx: 1
    20%
        rx: 1
    40%
        rx: 325
    60%
        rx: 230
    80%
        rx: 300
    100%
        rx: 281

$kfry: 5
+keyframes(blink)
    0%
        ry: initial
    .5%
        ry: $kfry
    1%
        ry: initial
    8%
        ry: initial
    8.5%
        ry: $kfry
    9%
        ry: initial
    20%
        ry: initial
    20.5%
        ry: $kfry
    21%
        ry: initial
    25%
        ry: initial
    25.5%
        ry: $kfry
    26%
        ry: initial
    26.5%
        ry: $kfry
    27%
        ry: initial
    40%
        ry: initial
    40.5%
        ry: $kfry
    41%
        ry: initial
    63%
        ry: initial
    63.5%
        ry: $kfry
    64%
        ry: initial
    80%
        ry: initial
    80.5%
        ry: $kfry
    81%
        ry: initial
    85%
        ry: initial
    85.5%
        ry: $kfry
    86%
        ry: initial
    88%
        ry: initial
    88.5%
        ry: $kfry
    89%
        ry: initial
    92%
        ry: initial
    92.5%
        ry: $kfry
    93%
        ry: initial
    94%
        ry: initial
    94.5%
        ry: $kfry
    95%
        ry: initial

+keyframes(scaleIn)
    0%
        transform: scale(0)
    100%
        transform: scale(1)