+keyframes(fadein)
    0%
        opacity: 0
    100%
        opacity: 1

+keyframes(popinout)
    0%
        opacity: 0
    20%
        opacity: 0
    40%
        opacity: 1
    100%
        opacity: 0

+keyframes(smilefrown)
    0%
        d: path("M848.3552,2708.8157c-69.057-70.9727,152.1592-35.1623,152.1592-35.1623S917.9208,2780.3111,848.3552,2708.8157Z")
    100%
        d: path("M995.2385,2686.8689c48.5529,86.3054-156.0884-5.0236-156.0884-5.0236S946.3281,2599.9279,995.2385,2686.8689Z")

+keyframes(eyemover)
    0%
        transform: translate(0,0,0)
    5%
        transform: translate(0,0,0)
    10%
        transform: translate3d(25px,-55px,0)
    40%
        transform: translate3d(25px,-55px,0)
    45%
        transform: translate3d(-20px,-30px,0)
    95%
        transform: translate3d(-20px,-30px,0)
    100%
        transform: translate3d(3px,-31px,0)

+keyframes(bellybounce)
    0%
        rx: 281
    20%
        rx: 300
    40%
        rx: 230
    60%
        rx: 325
    80%
        rx: 1
    100%
        rx: 1

$kfry: 5
+keyframes(blinkiris)
    0%
        ry: 61
    .5%
        ry: $kfry
    1%
        ry: 61
    8%
        ry: 61
    8.5%
        ry: $kfry
    9%
        ry: 61
    20%
        ry: 61
    20.5%
        ry: $kfry
    21%
        ry: 61
    25%
        ry: 61
    25.5%
        ry: $kfry
    26%
        ry: 61
    26.5%
        ry: $kfry
    27%
        ry: 61
    40%
        ry: 61
    40.5%
        ry: $kfry
    41%
        ry: 61
    63%
        ry: 61
    63.5%
        ry: $kfry
    64%
        ry: 61
    80%
        ry: 61
    80.5%
        ry: $kfry
    81%
        ry: 61
    85%
        ry: 61
    85.5%
        ry: $kfry
    86%
        ry: 61
    88%
        ry: 61
    88.5%
        ry: $kfry
    89%
        ry: 61
    92%
        ry: 61
    92.5%
        ry: $kfry
    93%
        ry: 61
    94%
        ry: 61
    94.5%
        ry: $kfry
    95%
        ry: 61

+keyframes(blinkwhite)
    0%
        ry: 93
    .5%
        ry: $kfry
    1%
        ry: 93
    8%
        ry: 93
    8.5%
        ry: $kfry
    9%
        ry: 93
    20%
        ry: 93
    20.5%
        ry: $kfry
    21%
        ry: 93
    25%
        ry: 93
    25.5%
        ry: $kfry
    26%
        ry: 93
    26.5%
        ry: $kfry
    27%
        ry: 93
    40%
        ry: 93
    40.5%
        ry: $kfry
    41%
        ry: 93
    63%
        ry: 93
    63.5%
        ry: $kfry
    64%
        ry: 93
    80%
        ry: 93
    80.5%
        ry: $kfry
    81%
        ry: 93
    85%
        ry: 93
    85.5%
        ry: $kfry
    86%
        ry: 93
    88%
        ry: 93
    88.5%
        ry: $kfry
    89%
        ry: 93
    92%
        ry: 93
    92.5%
        ry: $kfry
    93%
        ry: 93
    94%
        ry: 93
    94.5%
        ry: $kfry
    95%
        ry: 93

+keyframes(scaleIn)
    0%
        transform: scale(0)
    100%
        transform: scale(1)

+keyframes(wiggle)
    0%
        transform: rotate(2deg) scale(1)
    2%
        transform: rotate(-2deg) scale(1.02)
    4%
        transform: rotate(2.5deg) scale(1.05)
    6%
        transform: rotate(-2deg) scale(1.05)
    8%
        transform: rotate(2deg) scale(1.02)
    10%
        transform: rotate(0deg) scale(1)
    100%
        transform: rotate(0deg) scale(1)