+keyframes(fadein)
    0%
        opacity: 0
    100%
        opacity: 1

+keyframes(smilefrown)
    0%
        d: path("M848.3552,2708.8157c-69.057-70.9727,152.1592-35.1623,152.1592-35.1623S917.9208,2780.3111,848.3552,2708.8157Z")
    100%
        d: path("M995.2385,2686.8689c48.5529,86.3054-156.0884-5.0236-156.0884-5.0236S946.3281,2599.9279,995.2385,2686.8689Z")

+keyframes(eyemover)
    0%
        transform: translate(0,0,0)
    5%
        transform: translate(0,0,0)
    10%
        transform: translate3d(-20px,-30px,0)
    50%
        transform: translate3d(-20px,-30px,0)
    55%
        transform: translate3d(25px,-55px,0)
    85%
        transform: translate3d(25px,-55px,0)
    100%
        transform: translate3d(0px,-30px,0)

+keyframes(bellybounce)
    0%
        rx: 1
    20%
        rx: 1
    40%
        rx: 325
    60%
        rx: 230
    80%
        rx: 300
    100%
        rx: 281