// Font Weights //
$weights: 200 400 600 800

// Responsive sizes //
$ittybitty: .125em
$tiny: .25em
$teeny: .5em
$small: .75em
$medium: 1.25em
$large: 1.5em
$huge: 2em

// Static sizes //
$blockEM: 24px
$intsize: 19px
$bodytext: 14px
$bodyw: 1400px
$headerh: 3em

// Breakpoints //
$mq-mobile: 767px
$mq-tportrait: 992px
$mq-tablet: 1200px
$mq-desktop: 1365px
$mq-wide: 1800px

$font-stack: mr-eaves-modern, 'Helvetica Neue', Helvetica, sans-serif